body 
{
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}

h1 
{
  display: block;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 
{
  margin: 62px 0px 10px;
  font-family: Montserrat, sans-serif;
  color: #fa4b2e;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}

h3 
{
  margin: 10px 0px 23px;
  font-family: Montserrat, sans-serif;
  color: #745785;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

h4 
{
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 
{
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 
{
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p 
{
  display: block;
  margin-bottom: 5px;
  font-family: Bitter, serif;
  color: #a1a1a1;
  font-size: 15px;
  line-height: 23px;
}

.features-title
{
	margin-top:50px;
}

.features-subtitle
{
	font-size:22px;
}

#page-nav-features img
{
	margin-top:45px;
}

.button 
{
  display: inline-block;
  margin-right: 65px;
  padding: 18px 21px;
  border-radius: 5px;
  background-color: #c30e1e;
  background-image: -webkit-linear-gradient(#c00016, #d7624b);
  background-image: -o-linear-gradient(#c00016, #d7624b);
  background-image: linear-gradient(#c00016, #d7624b);
  box-shadow: rgba(255, 255, 255, 0.49) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, rgba(0, 0, 0, 0.49) 0px 3px 12px 0px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.10) 0px 2px 0px;
}

.button:hover 
{
  background-color: #cb0018;
  background-image: -webkit-linear-gradient(#c00016, #e2001a);
  background-image: -o-linear-gradient(#c00016, #e2001a);
  background-image: linear-gradient(#c00016, #e2001a);
  box-shadow: rgba(255, 255, 255, 0.49) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, rgba(0, 0, 0, 0.49) 0px 3px 12px 0px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  text-shadow: rgba(0, 0, 0, 0.10) 0px 2px 0px;
}

.section 
{
  position: static;
  padding-top: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  color: #5c5c5c;
}

#page-download
{
	padding-top:46px;
}

.section.hero 
{
  padding-bottom: 0px;
  background-image: url(../images/main_bg.png);
  background-size: cover;
  
}

.section.white 
{
  box-shadow: none;
}

.section.white.subfooter 
{
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.section.grey 
{
  background-color: #f5f6f7;
}

.section#page-nav-license .cd-col.cd-col-6
{
	width:100%;
	text-align:justify;
}
	
.section.grey.footer 
{
  text-align: center;
  padding-top:10px;
  padding-bottom:10px;
}

.section.orange 
{
  background-color: #FA4B2E;
}

.hero-iphone 
{
  display: block;
  margin-right: auto;
  margin-bottom: -78px;
  margin-left: auto;
  box-shadow: none;
  text-shadow: black 0px 0px 0px;
}

.logo-in-header 
{
  margin-right: 10px;
  float: left;
  background-image: url(../images/l_site-logo.png);
  background-size: 147px 132px;
  background-repeat: no-repeat no-repeat;
  position:absolute;
  top:-33px;
}

.quiz-links
{
	text-decoration:none;
	text-transform:uppercase;
	-webkit-transition: all 200ms ease;
  	-o-transition: all 200ms ease;
  	transition: all 200ms ease;
	font-family:Bitter, serif;
	color:#a1a1a1;
	text-decoration:underline;
}

.quiz-links:hover
{
	color: #fa4b2e;
	text-decoration:none;
}

.nav-link 
{
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Montserrat, sans-serif;
  color: #5c5c5c;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover
{
  color: #fa4b2e;
}

.nav-column 
{
  text-align: right;
}

.hero-header 
{
  /*margin-top: 130px;*/
  margin-top:90px;
  margin-bottom: 19px;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 32px;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 0px;
}

.top-title
{
	color:#fff;
	font-size:46px;
}
	
.hero-subtitle 
{
  margin-bottom: 20px;
  color: white;
  font-size: 15px;
  line-height: 22px;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 0px;
}

.big-image 
{
  text-shadow: none;
}

.icon-title 
{
  margin-top: 22px;
  margin-bottom: 12px;
  font-family: Bitter, serif;
  color: #c1adcc;
  font-size: 17px;
  font-weight: 400;
}

.organize-row 
{
  margin-top: 36px;
}

.logo-in-footer 
{
  display: block;
  margin-top: 22px;
  margin-right: auto;
  margin-left: auto;
  text-shadow: black 0px 0px 0px;
}

.left-column 
{
  padding-top: 35px;
  padding-bottom: 35px;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.subfooter-right 
{
  padding-top: 35px;
  padding-bottom: 35px;
  border-right: 1px solid rgba(0, 0, 0, 0.09);
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.subfooter-left 
{
  padding-top: 6px;
}

.social-button 
{
  width: 36px;
  height: 36px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 7px;
  border-radius: 60px;
  background-color: #fa875b;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.social-button:hover 
{
  background-color: #ff6224;
}

.blog-link 
{
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Bitter, serif;
  color: #fa875b;
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
}

.blog-link:hover 
{
  color: #ff5917;
}

.footer-link 
{
  margin-left: 8px;
  border-bottom: 1px solid rgba(131, 125, 153, 0.34);
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Bitter, serif;
  color: #837d99;
  text-decoration: none;
}

.footer-link:hover 
{
  border-bottom: 1px solid rgba(131, 125, 153, 0.86);
}

.footer-text 
{
  display: inline;
}

.center 
{
  text-align: center;
}

.buttontwo 
{
  display: inline-block;
  padding: 18px 23px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(bottom, #d8634c, #fe8c5e);
  background-image: -o-linear-gradient(bottom, #d8634c, #fe8c5e);
  background-image: linear-gradient(to top, #d8634c, #fe8c5e);
  box-shadow: rgba(255, 255, 255, 0.45) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, black 0px 1px 6px 0px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: Montserrat, sans-serif;
  color: white;
  font-size: 22px;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.13) 0px 2px 0px;
}

.buttontwo:hover 
{
  background-image: -webkit-linear-gradient(bottom, #d8634c, #ffa27d);
  background-image: -o-linear-gradient(bottom, #d8634c, #ffa27d);
  background-image: linear-gradient(to top, #d8634c, #ffa27d);
  box-shadow: rgba(255, 255, 255, 0.45) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, black 0px 1px 6px 0px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-shadow: rgba(0, 0, 0, 0.13) 0px 2px 0px;
}

#fixed-position
{
	position:fixed;
	right:20%;
	z-index:1000;
}

@media (max-width: 991px) {
  p 
  {
    font-size: 14px;
    line-height: 21px;
  }
  
  .button 
  {
    background-image: -webkit-linear-gradient(#c00016, #d7624b);
    background-image: -o-linear-gradient(#c00016, #d7624b);
    background-image: linear-gradient(#c00016, #d7624b);
    box-shadow: rgba(255, 255, 255, 0.49) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, rgba(0, 0, 0, 0.49) 0px 3px 12px 0px;
    text-shadow: rgba(0, 0, 0, 0.10) 0px 2px 0px;
  }
  
  .section.hero 
  {
    padding-top: 34px;
    padding-bottom: 1px;
    background-image: url(../images/main_bg.png);
  }
  
  .hero-iphone 
  {
    text-shadow: black 0px 0px 0px;
  }
  
  .hero-header 
  {
    font-size: 32px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 0px;
  }
  
  .top-title
  {
	text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 0px;
	font-size:38px;
  }
  
  .hero-subtitle 
  {
    text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 0px;
  }
  
  .big-image 
  {
    text-shadow: black 0px 0px 0px;
  }
  
  #fixed-position
  {
	position:static;
	right:0;
	left:0;
  }

}
@media (max-width: 767px) {
  h2 
  {
    margin-top: 0px;
  }
  
  .button 
  {
    margin-bottom: 50px;
    background-image: -webkit-linear-gradient(#c00016, #d7624b);
    background-image: -o-linear-gradient(#c00016, #d7624b);
    background-image: linear-gradient(#c00016, #d7624b);
    box-shadow: rgba(255, 255, 255, 0.49) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, rgba(0, 0, 0, 0.49) 0px 3px 12px 0px;
    text-shadow: rgba(0, 0, 0, 0.10) 0px 2px 0px;
  }
  
  .section 
  {
    padding-top: 33px;
    padding-bottom: 33px;
    text-align: center;
  }
  
  .section.hero 
  {
    background-image: url(../images/main_bg.png);
    text-align: center;
  }
  
  .hero-iphone 
  {
    margin-bottom: 1px;
    text-shadow: black 0px 0px 0px;
  }
  
  .logo-in-header 
  {
    display: block;
    margin-right: auto;
    margin-bottom: 12px;
    margin-left: auto;
    float: none;
    text-shadow: black 0px 0px 0px;
  }
  
  .nav-column 
  {
    padding-top: 15px;
    text-align: center;
  }
  
  .hero-header 
  {
    margin-top: 30px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 0px;
  }
  
  .big-image 
  {
    margin-top: 38px;
    margin-bottom: 20px;
    text-shadow: black 0px 0px 0px;
  }
  
  .subfooter-right 
  {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
  }
  
  .subfooter-left 
  {
    text-align: center;
  }
  
  .logo-in-header
  {
	position:relative;
	top:0;	 
  }

  #fixed-position
  {
	position:static;
	right:0;
	left:0;
  }
}
@media (max-width: 479px) {
  h3 
  {
    font-size: 18px;
    line-height: 23px;
  }
  
  .button 
  {
    background-image: -webkit-linear-gradient(#c00016, #d7624b);
    background-image: -o-linear-gradient(#c00016, #d7624b);
    background-image: linear-gradient(#c00016, #d7624b);
    box-shadow: rgba(255, 255, 255, 0.49) 0px 1px 0px 0px inset, #823c2e 0px 2px 0px 0px, rgba(0, 0, 0, 0.49) 0px 3px 12px 0px;
    text-shadow: rgba(0, 0, 0, 0.10) 0px 2px 0px;
  }
  
  .section 
  {
    text-align: center;
  }
  
  .section.hero 
  {
    background-image: url(../images/main_bg.png);
  }
  
  .section.white 
  {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  .hero-iphone 
  {
    text-shadow: black 0px 0px 0px;
  }
  
  .logo-in-header 
  {
    text-shadow: black 0px 0px 0px;
  }
  
  .hero-header 
  {
    font-size: 32px;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 0px;
  }
  
  .top-title
  {
	text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 0px;
	font-size:38px;
  }
  
  .big-image 
  {
    text-shadow: black 0px 0px 0px;
  }
  
  .logo-in-header
  {
	position:relative;
	top:0;	 
  }

  #fixed-position
  {
	position:static;
	right:0;
	left:0;
  }
  
}